<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-brands fa-bots"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/"><b><span class="heading text-danger">Akuza</span> </b></a>
      </div>

      <div class="navbar-nav ms-auto">
        <button type="button" class="btn btn-light">
          <a class="nav-link" aria-current="page" href="/signup"
            ><b>Sign up</b></a
          >
        <button type="button" class="btn btn-light">
          <a class="nav-link" href="/login"><b>Log in</b></a>
        </button>
        
      </div>
    </div>
  </div>
</nav>
