<% layout("boilerplate") %>
<style>
  h1,h2 {
    text-align: center;
  }
  img{
    height:400px;
    
    text-align: right;
  }
  .title{
    font-family:cursive;
  }
  .desc{
    text-align: center;
    font-size: 30px;
  }
  .desc1{
    text-align: center;
    font-family: cursive;
    font-size: 35px;
  }
</style>

<body>
  <h1>Welcome To The World of <span class="title text-warning">AKUZA</span></h1>
  <p class="desc1">(BIT Lalpur Campus <u><span class="desc1 lead text-danger">College Enquiry Chatbot</span> </u>)</p>

  <section id="tour" class="p-5">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md-6 p-5 pt-2">
          <p class="lead text-dark">
            Chatbots are computer programs designed to simulate human conversation, typically through text or voice interfaces. They use natural language processing (NLP) and machine learning algorithms to understand user inputs and generate appropriate responses.These virtual agents can serve various purposes, including customer service, information retrieval, entertainment, and task automation. They're commonly deployed on websites, messaging platforms, mobile apps, and virtual assistants like Siri or Alexa.
          </p>
        </div>
        <div class="col-md-6 ms-auto">
          <img src="https://img.freepik.com/premium-vector/chatbotblue_732060-109.jpg" alt="" width="100%" />
        </div>
      </div>
    </div>
  </section>
  <section id="tour" class="p-5 bg-dark pt-4 text-white">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md-6 ms-auto">
            <img src="https://static.vecteezy.com/system/resources/previews/025/271/424/non_2x/robot-chatbot-generative-ai-free-png.png" alt="" width="70%" />
          </div>
        <div class="col-md-6 p-5 pt-2">
          <p class="lead text-light">
            Chatbots operate through predefined rules or AI models. Rule-based chatbots follow predetermined paths based on keywords or patterns in user input. In contrast, AI-driven chatbots employ machine learning techniques to understand and respond to user queries more flexibly, improving over time through interaction.They offer several benefits, such as 24/7 availability, scalability, and cost-effectiveness in customer service operations. Additionally, they can enhance user experiences by providing quick and personalized assistance.
          </p>
        </div>
        
      </div>
    </div>
  </section>
</body>
